<?xml version="1.0" encoding="UTF-8"?>
<?latexml class="book"?>
<?latexml package="inputenc" options="utf8"?>
<?latexml RelaxNGSchema="LaTeXML"?>
<document xmlns="http://dlmf.nist.gov/LaTeXML">
  <resource src="LaTeXML.css" type="text/css"/>
  <resource src="ltx-book.css" type="text/css"/>
  <chapter inlist="toc" xml:id="Ch1">
    <tags>
      <tag>Chapter 1</tag>
      <tag role="refnum">1</tag>
      <tag role="typerefnum">Chapter 1</tag>
    </tags>
    <title><tag close=" ">Chapter 1</tag></title>
    <toctitle><tag close=" ">1</tag></toctitle>
  </chapter>
  <appendix inlist="toc" xml:id="A1">
    <tags>
      <tag>Appendix A</tag>
      <tag role="refnum">A</tag>
      <tag role="typerefnum">Appendix A</tag>
    </tags>
    <title><tag close=" ">Appendix A</tag></title>
    <toctitle><tag close=" ">A</tag></toctitle>
  </appendix>
</document>
