
body { margin:0; background:#cfd2e6; color:#000000; }

.ltx_page_navbar {
   display:block!important;
   position:fixed; left:10px; top:10px; width:232px;
   margin:0; padding:0; 
   font-weight: bold; font-size: 75%;
   color:#7113a0;
   overflow-x: hidden;
   overflow-y: auto; max-height: 95vh;
   z-index:10;
 }
.ltx_page_navbar .ltx_para .ltx_p {
    text-indent:0em;
}

/*   overflow:hidden; z-index:10;*/

.ltx_page_navbar a {
   color:#7113a0;
}
.ltx_page_main {
   position:absolute; left:240px;
   margin:0 20px 0 0; padding:0;
 }
.ltx_page_navbar ol,
.ltx_page_navbar ul {
   list-style:none;
   margin:0 0 0 15px; padding:0;
}
.ltx_page_navbar a {
   display:block;
   text-decoration:none;
}
.ltx_page_navbar a:hover {
   background:#701f99; 
   color:#e6eaff;
}
.ltx_page_navbar li {
   border-top: 1px solid transparent;
   border-bottom: 1px solid transparent;
}
.ltx_page_navbar li.ltx_ref_self {
   background:#e6eaff; 
   border-top: 1px solid #701f99;
   border-left: 1px solid #701f99;
   border-bottom: 1px solid #701f99;
}
.ltx_page_header {
    border:none;
 }
.ltx_page_content {
   margin:30px 0px 0 0; padding:10px;
   background:#e6eaff;
   border: 2px solid #701f99;
   min-width:600px;
   min-height:80vh;

}
/*   min-height:500px;*/

.ltx_title {
   text-align:left;
   margin:0;
   color:#7113a0;
}
.ltx_subsection,
.ltx_paragraph {
   margin: 5px 10px 5px 5px;
   padding:5px;
}
.ltx_document > .ltx_para,
.ltx_chapter > .ltx_para,
.ltx_section > .ltx_para,
.ltx_subsection > .ltx_para,
.ltx_subsubsection > .ltx_para,
.ltx_paragraph {
   background:#f2f4ff;
   margin:5px; padding:5px 10px;
   border: 1px solid #B0B0B0;
}
.ltx_subparagraph .ltx_title {
    font-weight: normal; }

.ltx_tabular .ltx_lstlisting {
    margin: 0.1ex 1em 0.1ex 0em;
   width:100%; }
.ltx_listing > .ltx_tabular {
   background:#f8fAff;
   margin:15px; padding:5px 10px;
   border: 2px solid #B0B0B0;
   min-width:35em; 
}
.ltx_listingline { display:block; }

a[rel~="up"]:before { content:"\261D "; }
a[rel~="next"]:after { content:" \261E"; }
a[rel~="prev"]:before { content:"\261C "; }

.ltx_title,
.ltx_subtitle,
.ltx_creator,
.ltx_page_navbar,
.ltx_page_header,
.ltx_page_footer {
  font-family: "Bitstream Vera Sans",Verdana, sans-serif;
}

.ltx_page_footer {
  border:none; 
}

/* make smaller */
dl.ltx_description dt {
  font-size:90%; }

dl.ltx_description.ltx_moduledescription dt,
dl.ltx_description.ltx_elementdescription dt,
dl.ltx_description.ltx_patterndescription dt
 { margin-right:0.5em; float:left;
   font-weight:normal; }

dl.ltx_description dd dl.ltx_description { clear:both; }

.ltx_advanced:before {
    position:absolute;
    color:red;
    font-size:200%;
    content:url("images/scratch.png"); }
/*    content:"!!" }*/

/*
.ltx_advanced {
   border: 3px double #B0B0B0; }
*/
.ltx_advanced .ltx_para {
   margin-left:40px;
   margin-right:1em; 
   border-left: 1px solid #971515;
   border-right: 1px solid #971515;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

.ltx_advanced .ltx_para .ltx_p:first-child {
   text-indent:0em; }

.ltx_keywords { display:none; }
